## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [83]:
import pandas as pd
import numpy as np

In [84]:
cities = ['臺北', '台中', '高雄']

### 產生隨機人口數值

In [85]:
#people = np.random.rand(3)
people = np.random.randint(low = 1000000, high = 3000000, size = 3)
print('people =',  people)

people = [1744102 1427689 2024548]

### 使用方法一建立隨機人口數值

In [86]:
data = {'城市': [cities[0], cities[1], cities[2]],
        '人口': [people[0], people[1], people[2]]}

In [87]:
data = pd.DataFrame(data)
data

   城市       人口
0  臺北  1744102
1  台中  1427689
2  高雄  2024548

### 最多人口城市

In [155]:
#data.max()
data.sort_values('人口', ascending=False).head(1)

   城市       人口
2  高雄  2024548

### 使用方法二建立隨機人口數值

In [89]:
cities = [cities[0], cities[1], cities[2]]
visitors = [people[0], people[1], people[2]]

list_labels = ['城市', '人口']
list_cols = [cities, visitors]

zipped = list(zip(list_labels, list_cols))

In [90]:
visitors_2 = pd.DataFrame(dict(zipped))
visitors_2

   城市       人口
0  臺北  1744102
1  台中  1427689
2  高雄  2024548

### 最多人口城市

In [158]:
#visitors_2.max()
visitors_2.sort_values('人口', ascending=False).head(1)

   城市       人口
2  高雄  2024548